/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>

/ {
  behaviors {
    #include "macros.dtsi"
    #include "version.dtsi"

    hm: homerow_mods {
        compatible = "zmk,behavior-hold-tap";
        label = "HOMEROW_MODS";
        #binding-cells = <2>;
        tapping-term-ms = <200>;
        quick_tap_ms = <175>;
        flavor = "tap-preferred";
        bindings = <&kp>, <&kp>;
    };

    us_2_at: us_2_at {
        compatible = "zmk,behavior-mod-morph";
        label = "US_2_AT";
        #binding-cells = <0>;
        bindings = <&kp N2>, <&kp LS(LBKT)>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    us_6_caret: us_6_caret {
        compatible = "zmk,behavior-mod-morph";
        label = "US_6_CARET";
        #binding-cells = <0>;
        bindings = <&kp N6>, <&kp EQUAL>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    us_7_ampersand: us_7_ampersand {
        compatible = "zmk,behavior-mod-morph";
        label = "US_7_AMPERSAND";
        #binding-cells = <0>;
        bindings = <&kp N7>, <&kp N6>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    us_8_asterisk: us_8_asterisk {
        compatible = "zmk,behavior-mod-morph";
        label = "US_8_ASTERISK";
        #binding-cells = <0>;
        bindings = <&kp N8>, <&kp BSLH>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    us_9_paren: us_9_paren {
        compatible = "zmk,behavior-mod-morph";
        label = "US_9_PAREN";
        #binding-cells = <0>;
        bindings = <&kp N9>, <&kp N8>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    us_0_paren: us_0_paren {
        compatible = "zmk,behavior-mod-morph";
        label = "US_0_PAREN";
        #binding-cells = <0>;
        bindings = <&kp N0>, <&kp N9>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    us_minus_underscore: us_minus_underscore {
        compatible = "zmk,behavior-mod-morph";
        label = "US_MINUS_UNDERSCORE";
        #binding-cells = <0>;
        bindings = <&kp MINUS>, <&kp INT1>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    us_equal_plus: us_equal_plus {
        compatible = "zmk,behavior-mod-morph";
        label = "US_EQUAL_PLUS";
        #binding-cells = <0>;
        bindings = <&kp EQUAL>, <&kp SEMI>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    us_lbkt_brace: us_lbkt_brace {
        compatible = "zmk,behavior-mod-morph";
        label = "US_LBKT_BRACE";
        #binding-cells = <0>;
        bindings = <&kp LBKT>, <&kp RBKT>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    us_rbkt_brace: us_rbkt_brace {
        compatible = "zmk,behavior-mod-morph";
        label = "US_RBKT_BRACE";
        #binding-cells = <0>;
        bindings = <&kp RBKT>, <&kp BSLH>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    us_bslh_pipe: us_bslh_pipe {
        compatible = "zmk,behavior-mod-morph";
        label = "US_BSLH_PIPE";
        #binding-cells = <0>;
        bindings = <&kp INT1>, <&kp PIPE>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
    };
  };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
 &us_equal_plus &kp N1    &us_2_at    &kp N3     &kp N4  &kp N5              &tog 1                                                                 &mo 3  &us_6_caret  &us_7_ampersand &us_8_asterisk &us_9_paren &us_0_paren &us_minus_underscore
   &kp TAB      &kp Q     &kp W     &kp E      &kp R   &kp T               &none                                                                 &none   &kp Y   &kp U      &kp I     &kp O     &kp P    &us_lbkt_brace
 &kp LCTRL      &kp A     &kp S     &kp D      &kp F   &kp G               &none    &kp ESC  &kp LALT                   &kp LGUI  &kp RCTRL      &none   &kp H   &kp J      &kp K     &kp L  &kp SEMI     &kp SQT
 &kp LSHFT      &kp Z     &kp X     &kp C      &kp V   &kp B                                 &kp HOME                  &kp PG_UP                         &kp N   &kp M  &kp COMMA   &kp DOT  &kp FSLH  &kp DELETE
     &mo 2  &us_bslh_pipe  &kp CAPS  &kp LEFT  &kp RIGHT                    &kp BSPC  &kp SPACE   &kp END                  &kp PG_DN  &kp ENTER  &kp ENTER          &kp UP   &kp DOWN  &us_lbkt_brace  &us_rbkt_brace       &mo 2
            >;
        };

        layer_keypad {
            bindings = <
 &kp EQUAL     &kp N1    &kp N2    &kp N3     &kp N4  &kp N5              &trans                                                                 &mo 3  &kp N6  &kp KP_NUM  &kp KP_EQUAL  &kp KP_DIVIDE  &kp KP_MULTIPLY  &kp MINUS
   &kp TAB      &kp Q     &kp W     &kp E      &kp R   &kp T               &none                                                                 &none   &kp Y   &kp KP_N7     &kp KP_N8      &kp KP_N9     &kp KP_MINUS   &kp BSLH
   &kp ESC      &kp A     &kp S     &kp D      &kp F   &kp G               &none  &kp LCTRL  &kp LALT                   &kp LGUI  &kp RCTRL      &none   &kp H   &kp KP_N4     &kp KP_N5      &kp KP_N6      &kp KP_PLUS    &kp SQT
 &kp LSHFT      &kp Z     &kp X     &kp C      &kp V   &kp B                                 &kp HOME                  &kp PG_UP                         &kp N   &kp KP_N1     &kp KP_N2      &kp KP_N3     &kp KP_ENTER  &kp RSHFT
     &mo 2  &kp GRAVE  &kp CAPS  &kp LEFT  &kp RIGHT                    &kp BSPC    &kp DEL   &kp END                  &kp PG_DN  &kp ENTER  &kp KP_N0              &kp UP      &kp DOWN     &kp KP_DOT         &kp RBKT      &mo 2
            >;
        };

        layer_fn {
            bindings = <
 &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6            &tog 1                                                   &mo 3  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
 &trans  &trans  &trans  &trans  &trans  &trans             &none                                                   &none  &trans  &trans  &trans   &trans   &trans   &trans
 &trans  &trans  &trans  &trans  &trans  &trans             &none  &trans  &trans                  &trans  &trans   &none  &trans  &trans  &trans   &trans   &trans   &trans
 &trans  &trans  &trans  &trans  &trans  &trans                            &trans                  &trans                  &trans  &trans  &trans   &trans   &trans   &trans
 &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans                  &trans  &trans  &trans          &trans  &trans   &trans   &trans   &trans
            >;
        };

        layer_mod {
            bindings = <
  &none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                  &none                                                                          &trans   &none       &none       &none   &none   &none   &none
  &none         &none         &none         &none         &none         &none            &bootloader                                                                     &bootloader   &none       &none       &none   &none   &none   &none
  &none         &none         &none         &none         &none         &none                  &none   &none   &none                  &bt BT_CLR       &none  &rgb_ug RGB_MEFS_CMD 5   &none       &none       &none   &none   &none   &none
  &none         &none         &none         &none    &macro_ver         &none                                  &none                       &none                                       &none       &none       &none   &none   &none   &none
  &none         &none         &none         &none         &none                                &none   &none   &none                       &none  &bl BL_TOG         &rgb_ug RGB_TOG          &bl BL_INC  &bl BL_DEC   &none   &none   &none
            >;
        };

    };
};
